page-mascotas {

    ion-card{
        width: calc(100% - 10px) !important;
        margin-left: 6px !important;
    }

    ion-avatar {
        min-height: 145px;
        float: left;
    }

    ion-avatar img{
        width: 100px;
        margin-top: 34px;
        padding: 10px;
    }
}
